//Light
@font-face {
    font-family: "#{$f-main}";
    src: url("./../fonts/#{$f-main}-Light.woff2") format("woff2"),
         url("./../fonts/#{$f-main}-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

//Black
@font-face {
    font-family: "#{$f-main}";
    src: url("./../fonts/#{$f-main}-Black.woff2") format("woff2"),
         url("./../fonts/#{$f-main}-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

////Bold
@font-face {
    font-family: "#{$f-secondary}";
    src: url("./../fonts/Rubik-Bold.woff2") format("woff2"),
         url("./../fonts/Rubik-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}