@mixin grid(){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $space-default;
}

.grid{
    @include grid();

    &__1-12{
        grid-column: 1 / -1;
    }

    &__1-8{
        grid-column: 1 / 9;
    }
}