.graph{
    @include grid();
    margin-top: $space-default * 4;

    &__title{
        grid-column: 5 / 10;
        margin-bottom: $space-default;
        @include font-family($f-secondary);
        font-weight: 700;
    }

    &__text{
        grid-column: 5 / 10;
    }

    &__div{
        grid-column: 1 / -1;
        width: 100%;
        position: relative;
        margin-top: -150px;
    }

    .evolution{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}