.map{
    @include grid;
    grid-template-rows: repeat(6, 1fr);
    margin-top: $space-default * 2;

    &__svg{
        max-width: 90rem;
        grid-column: 3 / -1;
        grid-row: 1 / -1;

        circle{
            cursor: pointer;
            transition: 200ms ease-in-out all;
    
            &[data-type='essence']{
                fill: #FEEECE;
            } 
    
            &[data-type='diesel']{
                fill: #DEE6B3;
            }
    
            &[data-type='electric']{
                fill: #D9FCE5;
            } 
    
            &[data-type='hybride']{
                fill: #CEF0FE;
            }  
            
            &[data-type='gaz']{
                fill: #BAD6E6;
            } 
    
            &[data-type='others']{
                fill: #E6D3E9;
            } 
        }

        .disable{
            opacity: .2;
        }
    }

    &__content{
        grid-column: 3 / 6;
        grid-row: 5 / 7;
    }

    &__pourcent{
        @include font-family($f-number);
        font-weight: 700;
        font-size: 6.1rem;
    }

    &__name{
        font-size: 1.8rem;
    }

    &__text{
        
        &--disable{
            display: none;
        }
    }
}