.map{
    @include grid();
    grid-template-rows: repeat(6, 1fr);
    margin-top: $space-default * 2;

    &__svg{
        max-width: 90rem;
        grid-column: 3 / -1;
        grid-row: 1 / -1;

        circle{
            cursor: pointer;
            transition: 200ms ease-in-out all;
    
            &[data-type='essence']{
                fill: $c-essence;
            } 
    
            &[data-type='diesel']{
                fill: $c-diesel;
            }
    
            &[data-type='electric']{
                fill: $c-electric;
            } 
    
            &[data-type='hybride']{
                fill: $c-hybride;
            }  
            
            &[data-type='gaz']{
                fill: $c-gaz;
            } 
        }

        .disable{
            opacity: .2;
        }
    }

    &__content{
        grid-column: 3 / 6;
        grid-row: 5 / 7;
    }

    &__pourcent{
        @include font-family($f-secondary);
        font-weight: 700;
        line-height: 1;
        font-size: 6.1rem;

        &--essence{
            color: $c-essence;
        }
        &--diesel{
            color: $c-diesel;
        }
        &--electric{
            color: $c-electric;
        }
        &--hybride{
            color: $c-hybride;
        }
        &--gaz{
            color: $c-gaz;
        }
    }

    &__name{
        font-size: 1.8rem;
        font-weight: 300;
    }

    &__text{
        
        &--disable{
            display: none;
        }
    }
}